style >
body {
    padding: 0 20%;
}

header {
    text-align: center;
}

.nav {
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: center;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

.nav form {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

footer {
    text-align: center;
}

main {
    text-align: center;
}

.flashes {
    padding: 0;
    position: sticky;
    top: 0;
    width: 100%;
}

.flashes li {
    list-style: none;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 3px;
    text-align: center;
}

.flashes .alert-danger {
    background: red;
}

.flashes .alert-successful {
    background: green;
}

.flashes .alert-fail {
    background: plum;
}

.button{text-decoration:none; text-align:center;
 padding:9px 27px;
 border:solid 1px #004F72;

 font:11px Arial, Helvetica, sans-serif;
 font-weight:bold;
 color:#E5FFFF;
 background-color:#3BA4C7;
 background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 );
 background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;

  }.button:hover{
 padding:11px 30px;
 border:solid 1px #004F72;

 font:0px Arial, Helvetica, sans-serif;
 font-weight:bold;
 color:#E5FFFF;
 background-color:#3BA4C7;
 background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 );
 background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;

 }.button:active{
 padding:11px 30px;
 border:solid 1px #004F72;

 font:0px Arial, Helvetica, sans-serif;
 font-weight:bold;
 color:#E5FFFF;
 background-color:#3BA4C7;
 background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
 background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 );
 background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;

 }

.paginate {
    text-align: center;
}

.paginate li {
    padding-top: 10px;
    text-align: center;
    display: inline-block;
}