{% extends "_main.html" %}

{% block title %} Blogy {% endblock %}

{% block main %}
    {% if "logged" in session %}
        <a href="{{ url_for('admin.view_add_blogs') }}" class="button">New</a>
    {% endif %}
    {% if articles %}
        <ul>
            {% for article in articles %}
            <li>
                <a href="{{ url_for('blog.view_blog', art_id=article.id) }}"><h2>{{ article.title }}</h2></a>
                <p>{{ article.html_render | truncate(100) }}</p>
            </li>
            {% endfor %}
        </ul>

        <ul class="paginate">
            {% if paginate.has_prev %}
                <li>
                    <a href="{{ url_for('blog.view_blogs', page=paginate.prev_num) }}">prev</a>
                </li>
            {% endif %}

            {% for page in paginate.iter_pages() %}
                {% if page %}
                    {% if page != paginate.page %}
                        <li><a href="{{ url_for('blog.view_blogs', page=page) }}">{{ page }}</a> </li>
                    {% else %}
                        <li>{{ page }}</li>
                    {% endif %}
                {% else %}
                    <li>...</li>
                {% endif %}
            {% endfor %}

            {% if paginate.has_next %}
                <li>
                    <a href="{{ url_for('blog.view_blogs', page=paginate.next_num) }}">next</a>
                </li>
            {% endif %}
        </ul>
    {% else %}
        <p>No articles</p>
    {% endif %}
{% endblock %}