{% extends "_main.html" %}

{% block title %} Editor {% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href={{url_for("static", filename="css/simplemde.min.css")}}>
    <script src="{{url_for('static', filename="js/simplemde.min.js")}}"></script>
    <script src="{{url_for('static', filename="js/editor.js")}}"></script>

{% endblock %}
{% block main %}
        {% if article %}
            <form action="{{ url_for('admin.view_edit', art_id=article.id) }}" method="post">
        {% else %}
            <form action="{{ url_for('admin.add_blogs') }}" method="post">
        {% endif %}
         {{ form.csrf_token }}
        <p>
            {{ form.title.label }}
            {{ form.title() }}
        </p>
        <p>
            {{ form.content.label }}
            {{ form.content() }}
        </p>
         {{ form.html_render() }}}
        <input type="submit" value="Save">
    </form>
{% endblock %}